.principal{
  background-color: #8052f8;
    display: flex;
    justify-content: space-between;
    min-height: 85vh;
    

}
.segundaria{
    width: 40vw;
    margin-left: 2vw;
    margin-top: 2vw;
    border-radius: 0.5vw;

}
.bnt{
    padding: 20px;
    border-radius: 400px;
    background-color: #3a1de2;
    font-size: 40px;
    margin-top: 10px;
    border: none;
    
  }
.bnt:hover{
    background-color: #3a1de2;
}
.desc{
    font-size: 2rem;
    text-align: center;
}
.terciaria{
    display: flex;
    width: 40vw;
    margin-top: 2vw;
    border-radius: 0.5vw;
    justify-content: center;
    align-items: end;
    margin-bottom: 5vh;
}